body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #006098 !important;
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 50px;
  background-color: #f4f4f4;
  border-radius: 30px;
  padding: 10px;
  box-shadow: 0 10px 12px -4px rgba(0, 0, 0, 0.15);
}

.search_input {
  color: black;
  border: 0;
  outline: 0;
  background: none;
  width: 90%;
  caret-color: transparent;
  line-height: 30px;
  transition: width 0.4s linear;
  float: left;
  margin-left: 5px;

  &::placeholder{
      color: black
  }
}

.searchbar:hover > .search_icon {
  background: white;
  color: #006098;
  background-color: #006098;
  color: white;
}

.search_icon {
  height: 30px;
  width: 30px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #006098;
  text-decoration: none;
  transition: all .25s;
}

h5 {
  font-weight: 500 !important;
}

p{
  font-weight: 500 !important;
}

.item-menu-heading{
  margin-bottom: 10px;
}