<div class="page-header page-header-xs" data-parallax="true"
    style="background-image: url('./assets/img/locationImg2.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1 style="font-weight: 800 !important; color: white !important; opacity: 1 !important;">
                Find a Location
            </h1>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="container" style="padding-left: 0px !important;">
                    <div class="searchbar" style="margin-bottom: 10px;">
                        <input class="search_input" type="text" name="" placeholder="Enter Zip Code...">
                        <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                    </div>

                    <div class="row">
                        <iframe style="margin-bottom: 15px;" width="100%" height="500px"
                            src="https://maps.google.com/maps?width=100%&amp;height=500&amp;hl=en&amp;q=870%20Garden%20of%20the%20Gods%20Rd%2C%20Colorado%20Springs%2C%20CO%2080907+(Dutch%20Bros%20Coffee)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a
                                href="https://www.maps.ie/coordinates.html">find my location</a></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>