<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a style="color: white;" href="">Resources</a></li>
                    <li><a style="color: white;" href="">Events & News</a></li>
                    <li><a style="color: white;" href="">Contact Us</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright center" style="color: white;">
                    <img height="auto" width="30px" src="https://dutchbros.com/public/images/windmill.png" /> © DUTCH BROS COFFEE - ALL RIGHTS RESERVED
                </span>
            </div>
        </div>
    </div>
</footer>
